#contato{
	width: 960px;
	margin: auto;
}
input:hover {
	background-color: #e2e2ebff;
}

legend{
	color: #dc051e ; /*cor da legenda*/
	font-weight: normal;
	font-size: 20pt;
	font-family: Roboto Slab, serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
fieldset{
	border-bottom: 1px solid red;



}
fieldset#sexo {

}

fieldset#usuario {
	background:url("../_imagens/usuario-contato.jpeg") no-repeat 95% 95%;
}
fieldset#endereco {
	background:url("../_imagens/casa.png") no-repeat 95% 95%;
}
fieldset#mensagem {
	background:url("../_imagens/mensagem-imagem.png") no-repeat 95% 95%;
}
#botao{
	margin-left: 140px;
}
p {
	text-indent: 0px;
}
