#contato{
	width: 960px;
	margin: auto;
}
input:hover {
	background-color: #606060;
}

legend{
	color: #dc051e ; /*cor da legenda*/
	font-weight: bold;
	font-size: 20pt;
	font-family: Roboto, sans-serif ;

}
fieldset{
	border-bottom-color:red;
	margin: 10px;
}
fieldset#sexo {
	width:10px;
	margin-left: 3px;
}
fieldset#usuario {
	background:url("../_imagens/usuario-contato.jpeg") no-repeat 95% 95%;
}
fieldset#endereco {
	background:url("../_imagens/casa.png") no-repeat 95% 95%;
}
fieldset#mensagem {
	background:url("../_imagens/mensagem-imagem.png") no-repeat 95% 95%;
}
#botao{
	margin-left: 140px;
}
