body #interface {
	width: 80%;
	margin: auto;
}
figure {
	left: 0px;
}

#empresa h1{
	font-size: 45pt;
	font-family: "Roboto Slab", serif;
	color:#e14559;
	margin: 30px 0px 30px 0px;
	text-align: left;
}
#empresa p {
	font-family: "Roboto", serif;
	padding: 50px;
	margin: 50px;
	text-align: justify;
	text-indent: 50px;
	border: 1px solid #000000;
	display: inline-block;
	float: right;
}
#empresa img{
	width: 350px;
	display: inline;
	margin: 30px 0 30px 0px;
	float: left;

}
#empresa li{
	display: block;
	clear: both;

}
#empresa ul p{
	width: 350px;
	margin-right: 168px;
	margin-top: 135px;
}