#cabecalho {
	background-color: #24252dff;
	color: #fff;
	height: 100%;
	font-family: 'Roboto Slab', serif;
	font-size: 13pt;
	padding: 15px;
}

hgroup {
	display: inline-block;
	padding: 20px;
}

#cabecalho hgroup h1 {
	display: inline-block;

}

#cabecalho hgroup h2 {
	display: inline-block;
	
}

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

#menu-principal {
	display: inline-block;
	float: right;
	padding-right: 20px;
}


#menu-principal li {
	display: inline-block;
	margin: 20px;
	padding: 0px;
	background-color: #24252dff;
}

#menu-principal li:hover {
	background-color: #e14559ff;
	border-radius: 10px;
	margin: 8px;
	padding: 12px;
	color: #24252dff;
	transition: background-color .08s;
}

#menu-principal a{
	color: #fff; 
	text-decoration: none;
}

#interface {
	background-color: #455fe114;
}

#foto-empresa {
    width: 80%;
	margin: 0px 10% 0 10%;
	clear: both;
}

#foto-empresa img{
	width: 100%;

}

#foto-empresa figcaption{
	position: relative;
	top: -300px;
	text-align: center;
	font-size: 45pt;
	font-weight: bold;
	color: #e14559ff;
	text-shadow: 4px 4px 3px #210101;
}

#tabela{
	width: 90%;
	margin: 0px auto 0px auto;
}

#tabela caption {
	text-align: left;
	font-size: 20pt;
}

#esquerda {
	background-color: #22252C;
	color: white;
	width: 30%;
	font-weight: 300;
	font-size: 15pt;
	font-family: 'Roboto', sans-serif;
	padding: 30px 60px 30px 20px;
}

#direita {
	background-color: #e2e2ebff;
	font-family: 'Roboto Slab', serif;
	padding: 20px;
	
	
}

#direita h1 {
	margin-bottom: 10px;
}

#direita p {
	line-height: 1.5;
	padding-right: 200px;
}

footer {
	background-color: #e2e2ebff;
	padding: 20px;
	box-shadow: 0px 1px 3px 0px #040404;
}

footer p {
	display: inline-block;
}

#copyright {
	float: right;
	padding: 20px;
	color: #e14559ff;
}
#nome{
	margin: 10px;
}
#email{
	margin: 10px;
}
#mensagem{
	margin: 10px;
}
.campo{
	margin-left: 20px;
}

form {
	margin-left: 10%
}

form label{
	width: 60%;
	display: block;
	background-color: black;
	color: white;
	padding: 20px;
}

form label {
	
}