#midia{
	width: 980px;
	height: 630px;
	margin: auto;
}
#filme{
	width:650px;
	height: 300px;
	display: block;
	background:url("../_imagens/televisao.png") no-repeat;
	background-position: 80% 60%;
	background-size: 450px;
	position: center;
}
#musica {
	display: block;
	width: 150px;
	height: 200px;
	margin-top: -90px;
	background:url("../_imagens/som.png") no-repeat;
	float: center;
	margin-left: -180px;
