#midia{
	width: 980px;
	height: 630px;
	margin: auto;
	margin-bottom: 100px;
}
#filme{
	float:right;
	display: block;
	position:relative;
	margin-top: 100px;
	margin-bottom: 40px;
	margin-right: -30px;
	background:url("../_imagens/televisao2.png") no-repeat;
	background-position: 50%/*MEXE OS LADOS*/ 100%; /*MEXE CIMA E BAIXO*/
	width:500px;
	height:515px;
}
#musica {
	float:left;
	display: block;
	margin-top: 1500px;
	margin-bottom: 5px;
	width: 260px;
	height: 100px;
	background:url("../_imagens/musica.gif") no-repeat;
	background-size: 300px;
	background-position: 40% 50%;
	margin-left: -180px;
}
#album{
	width: 700px; /* largura do album*/
	margin: 0 auto; /* espaçamento externo */
	padding: 50px; /* espaçamento interno */
	list-style: none; /* lista sem marcações */
}

#album li{
	float: left; /* flutua a esquerda o item da lista */ 
	width: 200px; /* largura do item da lista */
	height: 200px; /* altura do item da lista */
	margin: 0px; /* espaçamento externo do item da lista */
	border: solid 5px; /* borda do item da lista */
	background-color: #fff; 
	box-shadow: 1px 1px 1px rgba(0,0,0, .4);
}
#album li span {
	opacity: 0;
	color: #fff;
	background-color: rgba(0,0,0,.3);  /* cor de fundo */
	text-shadow: 1px 1px 1px #000; /* texto com sombra */
	font-size: 9pt; /*tamanho da fonte */
	line-height: 370px; /* altura da linha */
	padding: 5px;
}
#album li:hover span {
	opacity: 1;
}

#album li#fotos3{
	background:url("../_imagens/s3.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotos3:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}
#album li#fotos1{
	background:url("../_imagens/s1.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotos1:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album li#fotos2{
	background:url("../_imagens/s2.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotos2:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album li#fotosr{
	background:url("../_imagens/sr.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotosr:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album li#fotors{
	background:url("../_imagens/rs.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotors:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album li#fotor1{
	background:url("../_imagens/ramon1.jpeg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotor1:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}
#album li#fotor2{
	background:url("../_imagens/ramon2.jpeg") no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotor2:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}
#album li#fotologo{
	background:url("../_imagens/logo.png");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotologo:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}

#album li#fotorsa1{
	background:url("../_imagens/rsa1.jpg");
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #fff;
}
#album li#fotorsa1:hover{
	background-position: 0px 0px;
	background-size: 200px 200px;
}



